src/test/
.env
src/main/java/org/email/project/EmailApp/localdb/email3.txt
src/main/java/org/email/project/EmailApp/localdb/email4.txt
src/main/java/org/email/project/EmailApp/localdb/email10.txt
src/main/java/org/email/project/EmailApp/localdb/email41.txt